<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Username</title>
</head>
<body>
    <h1>Change Your Username</h1>
    <form action="{% url 'change_username' %}" method="post">
        {% csrf_token %}
        <label for="username">Change Username:</label>
        <input type="text" name="username" id="username" value="{{ request.user.username }}">
        <button type="submit">Update</button>
    </form>
</body>
</html>